Source: yavdr-pasuspend
Section: sound
Maintainer: Alexander Grothe <seahawk1986@gmx.de>
Uploaders: Lars Hanisch <dvb@flensrocker.de>
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper, pkg-config, libpulse-dev
Vcs-Git: https://github.com/flensrocker/yavdr-pasuspend.git
Vcs-Browser: https://github.com/flensrocker/yavdr-pasuspend
Homepage: https://github.com/flensrocker/yavdr-pasuspend

Package: yavdr-pasuspend
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pulseaudio
Description: a little tool for suspending/resuming pulseaudio playback



